@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrap{
    height: 100vh;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}
.left-li{
    margin-top: 5px;
    margin-left: 50px;
    font-size: large;
    font-weight: bold;
}
.right-li{
    margin-top: 5px;
    margin-right: 50px;
}
.dropdown{
    padding: 6px;
    border-radius: 7px;
    background-color: #bdb5a8;
}
.navbar li{
    list-style: none;
}
.first-section{
    height: 400px; 
    background-image: url('./banner.png');
    background-size: 100% 100%;
     background-position: center;  
    background-repeat: no-repeat;
   
}
.first-section-heading{
    text-align: center;
    font-weight: bolder;
    margin-top: 23px;
}
.first-section-para-one{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 195px;
}
button{
    background-color: #6c9c94;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);


}
.first-section-para-two{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.second-first-section{
    width: 70%;
    margin-top: 40px;
    margin-left: 180px;
}

.first-image{
    height: 230px;
    float: right;
}
.btn2{
    margin-top: 6vh;
    margin-left: 30vh;
}
.second-main{
    font-family: 'PT Serif', serif;
    font-size: large;
}
.second-second-section{
    width: 70%;
    margin-top: 190px;
    margin-left: 180px;
}
.second-image{
    height: 200px;
    float: left;
}
.btn3{
    margin-top: 6vh;
    margin-left: 30vh;
}
.second-third-section{
    width: 70%;
    margin-top: 190px;
    margin-left: 180px;
}
.third-image{
    height: 200px;
    float: right;
}
.btn4{
    margin-top: 6vh;
    margin-left: 30vh;
}
.second-fourth-section{
    width: 70%;
    margin-top: 190px;
    margin-left: 180px;
}
.fourth-image{
    height: 200px;
    float: left;
}
.btn5{
    margin-top: 6vh;
    margin-left: 30vh;
}
.third-main{
    margin-top: 210px;
    margin-left: 18vw;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}
.wifi{
    height: 121px;
    width: 173px;
    border-radius: 50%;
}
.shower{
    height: 120px;
    width: 140px;
    border-radius: 50%;
    margin-left: 40px;
    text-align: center;
}
.theft-lock{
    height: 120px;
    width: 151px;
    border-radius: 50%;
    margin-left: 40px;
}
.third-main{
    display: flex;
}
.feature{
    text-align: center;
    margin-left: 40px;
}
.p2{
    margin-left: 33px;
}
.p3{
    margin-left: 20px;
}
.reference-link1{
    margin-top: 68px;
    margin-left: 91vh;
}
.reference-link1 a{
    color: #D14D72;
}
.last-main{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
}
.map-div{
    display: flex;
    justify-content: center;
}
.last-section-h3{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.map{
    height: 300px;
    margin-top: 20px;
}
.reference-link2{
    display: flex;
    justify-content: center;
}
.reference-link2 a{
    color:#D14D72;
}